{% extends 'layout.html' %} {% load static %} {% block content %}

<section
  id="contact"
  class="flex justify-start items-center page-section text-white text-center bg-dark"
>
  <div class="container">
    <div class="row">
      <div class="col-xl-4">
        <div class="text-center mb-5">
          <h2 class="section-subheading text-uppercase">nuevo autor</h2>
        </div>
        <form id="contactForm" action="{% url 'create_author'%}" method="POST">
          {% csrf_token %}
          <div class="row align-items-stretch mb-5">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Nombre"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="last_name"
                name="last_name"
                placeholder="Apellido"
              />
            </div>
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Correo electrónico"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="topic"
                name="topic"
                placeholder="Especialidad"
              />
            </div>
            <div class="form-group">
              <button
                class="btn btn-primary btn-xl text-uppercase"
                id="submitButton"
                type="submit"
              >
                Confirmar
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-xl-4">
        <div class="text-center mb-5">
          <h2 class="section-subheading text-uppercase">nuevo post</h2>
        </div>
        <form id="contactForm" action="{% url 'create_post'%}" method="POST">
          {% csrf_token %}
          <div class="row align-items-stretch mb-5">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="title"
                name="title"
                placeholder="Título"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="subtitle"
                name="subtitle"
                placeholder="Subtítulo"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="content"
                name="content"
                placeholder="Contenido"
              />
            </div>
            <div class="form-group">
              <button
                class="btn btn-primary btn-xl text-uppercase"
                id="submitButton"
                type="submit"
              >
                Confirmar
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-xl-4">
        <div class="text-center mb-5">
          <h2 class="section-subheading text-uppercase">nuevo tema</h2>
        </div>
        <form id="contactForm" action="{% url 'create_topic'%}" method="POST">
          {% csrf_token %}
          <div class="row align-items-stretch mb-5">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Título"
              />
            </div>
            <div class="form-group">
              <button
                class="btn btn-primary btn-xl text-uppercase"
                id="submitButton"
                type="submit"
              >
                Confirmar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %} 